.header {
    position: fixed;
    background-color: rgb(20, 20, 156);
    width: 100%;
    margin: 0;
    height: 50px;
    text-align: center;
    padding-top: 15px;
}

.input{
    border: none;
    height: 35px;
    width: 300px;
    border-radius: 4px;
    padding-left: 6px;
}

.btn{
    height: 37px;
    margin-left: 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(184, 184, 255, 0.678);
}