.btn {
    display: flex;
    margin: 20px auto;
    background-color: blue;
    border-radius: 6px;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(43, 43, 250);
}